@import '../Lib/Vars.scss';

.blogContent_title{
    text-align: left;
    margin: 50px 15%;
}

.blogContent__container{
    width: 70vw;
    min-height: 100vh;
    margin-left: 15vw;
    list-style-type: style;
}

.blogContent__container li{
    list-style: circle;
}

.blogContent__container table, td{
    border: solid 1px;
    border-collapse: collapse;
}

.blogContent__container h1{
    
    font-size: 22;

}

.blogContent__container h2{
    
    font-size: 19;

}

.blogContent__container img{

    max-width: 70vw;
    object-fit: cover;

}

