@import '../Lib/Vars.scss';

.blogList__container{
    width: 100%;
    min-height: 75%;
    @extend %flex-center;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    @include respond-to(700px){
        justify-content:space-evenly
    }
}

.blogList__container > *{
    margin-bottom: 20px;
}

.blogLitsItem__container{

    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @include respond-to(700px){
        width: 90%;
    }
    
    @include respond-to(1250px){
        
    }

}

.blogListItem{
@extend %flex-center;

position: relative;
width: 80vw;
height: auto;
flex-wrap: wrap;
text-align: left;
margin: map-get($marging , vertical);
color: $color-black;

@include respond-to(700px){
    width: 40vw;
    height: auto;
    margin-left: 5%;
}

@include respond-to(1250px){
    width: 20vw;
    height: 35vw;
    margin-left: 8%;
}

}

.linkItem {
    color: $color-black;
    width: 100%;
}

.blogListitem h1{
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    font-size: 16px;
}

.blogListItem__image__link{
    width: 100%;
    color: $color-black;
}

.blogListItem__image__link img{
    width: 80vw;
    height: 80vw;
    padding-bottom: 10px;
    margin-bottom: 10px;
    object-fit: cover;
    @include respond-to(700px){
        width: 40vw;
        height: 40vw;
    }
    @include respond-to(1250px){
        width: 20vw;
        height: 20vw;
    }
}

.userInfo img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.userInfo__image{
    margin-right: 5%;
}
.userInfo{
    margin: map-get($marging , vertical);
    width: 100%;
    @extend %flex-center;
    justify-content: flex-start;
    border-top: solid 3px $color-gray;
    border-bottom: solid 3px $color-gray;
    padding: map-get($padding , vertical)
}

.blogListItem__content h1, h2, h3{
    font-size: map-get($fontSize , small);
    font-weight: 400;
}

.blogListItem__content{
    height: auto;
    overflow: auto;
    @include respond-to(700px){
        font-size: 40px;
        height: 10vh;
        overflow: hidden;
    }
}

.blogListItem__butonOptions{
    position: absolute;
    top: 25px;
    right: 7px;
    width: 30px;
    height: 30px;
    background-color: $color-white;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    border: solid 1px $color-gray;
    border-radius: 50%;
}

.blogListItem_options{
    background-color: rgb(235, 239, 243);
    border: 5px solid rgb(235, 239, 243);
    position: absolute;
    right: -70px;
    bottom: -30px;
}

.blogListItem_options li{
    cursor: pointer;
    margin: 4px 0px;
}

.blogListItem_options li:hover{
    background-color: $color-gray;
}

.blogListItem__OptionsDecoration{
    width: 5px;
    height: 5px;
    background-color: $color-gray;
    position: relative;
}

.blogListItem__OptionsDecoration::after{
    content: " ";
    width: 5px;
    height: 5px;
    background-color: $color-gray;
    position: absolute;
    left: 10px;

}

.blogListItem__OptionsDecoration::before{
    content: " ";
    width: 5px;
    height: 5px;
    background-color: $color-gray;
    position: absolute;
    right: 10px;
}