@import '../Lib/Vars.scss';

.blogContent_title{
    text-align: left;
    margin: 5% 15% 1%;
    width: 70%;
}
hr{
    width: 70%;
    margin-left: 15%;
    margin-bottom: 40px;
}

.blogContent__container{
    width: 70vw;
    min-height: 100vh;
    margin-left: 15vw;
    list-style: inside;
    margin-bottom: 10vh;
    
}

.blogContent__container li{
    list-style: inside;
}

.blogContent__container table, td{
    border: solid 1px;
    border-collapse: collapse;
    padding: .4em;
}

.blogContent__container h1{
    font-size: 24px;
    padding-bottom: 8px;
}

.blogContent__container h2{
    font-size: 22px;
    padding-bottom: 8px;

}

.blogContent__container h3 strong{
    font-size: 22px;
    padding-bottom: 8px;
}

.blogContent__container img{
    max-width: 70vw;
    object-fit: cover;

}

.blogContent__container p{
   margin-bottom: 5px;
}

.image-style-side{
    float: none;
    padding: 0px;
    @include respond-to-width(800px){
        float: right;
        padding: 15px;
    }

}