@import '../Lib/Vars.scss';

.carrusel__container{
    @extend %flex-center;
    flex-wrap: wrap;
    align-items: flex-start;
    //margin-bottom: 15%;
    outline: 3% $color-white;
    overflow: hidden;
    position: relative;
    @include respond-to(700px){
        //margin-bottom: 20%;
    }
}

.carrusel__image img{
    width: 100vw;
    height: 25vh;
    object-fit: contain;
    overflow: hidden;
    background-color: $color-black;
    @include respond-to(1250px){
        height: 50vh;
    }
}

.carrusel__item{
    @extend %flex-center;
    flex-wrap: wrap;
}

.carrusel__textCard{
    position: relative;
    bottom: 90px;
    background-color: $color-white;
    padding: 3%;
    width: 80%;
    border-radius: 12px;
    box-shadow: 0 12px 4px -8px #777;
    height: 20vh;
    overflow: hidden;
    @include respond-to-height(900px){        
        height: 20vh;
        bottom: 110px;
    }
}

.carrusel__buttonL{
    position: absolute;
    z-index: 1;
    top: 35%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aliceblue;
    left: 10%;
    cursor: pointer;
}

.carrusel__buttonR{
    position: absolute;
    z-index: 1;
    top: 35%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aliceblue;
    right: 10%;
    cursor: pointer;
}


