@import '../Lib/Vars.scss';

.editor__container{
     min-height: 75%;
     width: 80%;
     margin-left: 10%;
     margin-bottom: 20vh;
}

.editor__container li{
     list-style-type: style;
     list-style-position: inside;
}

.editor__container h1{
     font-size: map-get($fontSize , normal);
    @include respond-to(700px){
        font-size: map-get($fontSize , big);
    }
}

.editor__container h2{
     font-size: map-get($fontSize , normal);
    @include respond-to(700px){
        font-size: map-get($fontSize , big);
    }
}

.editor__container button{
     margin-left: 0%;
}

.editor__saveModal{
     position: relative;
     z-index: 10;
     width: 80vw;
     height: 50vw;
     display: flex;
     flex-direction: column;
     justify-content:space-around;
     align-items: center;
     flex-wrap: wrap;
     border: solid 1px;
     border-radius: 12px;
     padding: 10px;
}

.InputFile{
     display: none;
}

.Editorcontainer_item{
     margin-bottom: 10px;
}

.inputTitle{
     width: 80vw;
}
