@import '../Lib/Vars.scss';

.window-error-container{
    width: 70vw;
    padding: 0% 5%;
    height: 30vh;
    position: absolute;
    z-index: 1000;
    top: 30%;
    left: 15%;
    background-color: $color-white;
    border: solid 1px;
    text-align: center;
    @extend %flex-center;
    flex-direction: column;
    justify-content: space-evenly;

}

.window-error-container h1{
    position: absolute;
    top: 0px;
    padding-top: 5px;
    background-color: $color-black;
    color: $color-white;
    width: 100.1%;
}


.window-error-container button{
    background-color: #555555;
    color: aliceblue;
    border-radius: 3px;
    border: solid 1px $color-black;
    width: 90px;
    height: 24px;
}
